################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreDemo/obj
/BookStoreDemo/.vs/BookStoreDemo/v16
