################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreDemo/obj
/BookStoreDemo/.vs/BookStoreDemo/v16
/BookStoreDemo/bin/Debug/netcoreapp3.1/BookStoreDemo.runtimeconfig.json
/BookStoreDemo/bin/Debug/netcoreapp3.1/BookStoreDemo.runtimeconfig.dev.json
/BookStoreDemo/bin/Debug/netcoreapp3.1/BookStoreDemo.pdb
/BookStoreDemo/bin/Debug/netcoreapp3.1/BookStoreDemo.exe
/BookStoreDemo/bin/Debug/netcoreapp3.1/BookStoreDemo.dll
/BookStoreDemo/bin/Debug/netcoreapp3.1/BookStoreDemo.deps.json
/BookStoreDemo/bin/Debug/netcoreapp3.1/appsettings.json
/BookStoreDemo/bin/Debug/netcoreapp3.1/appsettings.Development.json
/BookStoreDemo/bin/Debug/netcoreapp3.1/BookStoreDemo.runtimeconfig.json
/BookStoreDemo/bin/Debug/netcoreapp3.1/BookStoreDemo.runtimeconfig.dev.json
/BookStoreDemo/bin/Debug/netcoreapp3.1/BookStoreDemo.pdb
/BookStoreDemo/bin/Debug/netcoreapp3.1/BookStoreDemo.exe
/BookStoreDemo/bin/Debug/netcoreapp3.1/BookStoreDemo.dll
/BookStoreDemo/bin/Debug/netcoreapp3.1/BookStoreDemo.deps.json
/BookStoreDemo/bin/Debug/netcoreapp3.1/appsettings.json
/BookStoreDemo/bin/Debug/netcoreapp3.1/appsettings.Development.json
/BookStoreDemo/bin/Debug/netcoreapp3.1/appsettings.Development.json
/BookStoreDemo/bin/Debug/netcoreapp3.1/appsettings.json
/BookStoreDemo/.vs/BookStoreDemo/DesignTimeBuild/.dtbcache.v2
/BookStoreDemo/.vs/BookStoreDemo/DesignTimeBuild
/BookStoreDemo/.vs/BookStoreDemo/config/applicationhost.config
